* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Heebo, sans-serif;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin-inline: auto;
  padding-inline: 40px;
  @media (max-width: 500px) {
    padding-inline: 20px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  color: #000;
}

#header {
  padding-block: 20px;
}

.header {
  display: flex;
  justify-content: flex-end;
  gap: 60px;
}

.burger-menu {
  display: none;
  justify-content: flex-end;
}

.burger-menu ion-icon {
  font-size: clamp(1.25rem, 1.146rem + 0.52vw, 1.563rem);
}

#main {
  padding-block: 40px;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.main-content {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.main-content h1 {
  width: 700;
  font-size: 40px;
}

.main-content p {
  width: 400;
  font-size: 16px;
}

.main-content button {
  width: 150px;
  height: 37px;
  border: none;
  border-radius: 5px;
  background: #ff6464;
  color: #fff;
}

#post {
  padding-block: 40px;
  background: #edf7fa;
}

.post-top {
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-top p {
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-top a {
  display: none;
  font-size: 15px;
  color: #00a8cc;
}

.post {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
}

.cart {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.post .cart {
  padding: 20px;
  width: 100%;
  max-width: 380px;
  background: #fff;
}

.cart-year {
  display: flex;
  gap: 20px;
}

.cart-year p {
  font-size: 18px;
  line-height: 28px;
}

.cart p {
  font-size: 16px;
  line-height: 25px;
}

#work {
  padding-block: 50px;
}

.work {
  padding-inline: 50px;
  width: 100%;
  max-width: 1280px;
  display: flex;
  align-items: center;
}

.work-top {
  padding: 10px;
  display: flex;
  justify-content: center;
  font-size: 16px;
}

.work {
  margin: 20px;
  width: 100%;
  max-width: 1000px;
  display: flex;
  align-items: flex-start;
}

.work img {
  margin-right: 20px;
}

.work {
  display: flex;
  gap: 20px;
}

.btn-name {
  display: flex;
  gap: 20px;
}

.indent h1 {
  max-width: 900px;
  font-size: 26px;
  color: #21243d;
}

.indent p {
  font-size: clamp(0.75rem, 0.568rem + 0.91vw, 1.25rem);
  line-height: 27px;
  color: #8695a4;
}

.indent button {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #142850;
  color: #fff;
  border: none;
  border-radius: 13px;
  padding: 2px 10px;
  font-size: 13px;
  font-weight: 700;
}

.indent {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.indent p {
  max-width: 570px;
  font-size: 16px;
  font-weight: 400;
  color: #21243d;
}

#social {
  padding-block: 50px;
}

.image {
  padding-block: 90px;
  display: flex;
  justify-content: center;
  gap: 44px;
}

.link {
  font-size: 16px;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

#social {
  padding-top: 60px;
}

.networks {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.sylka {
  display: flex;
  justify-content: center;
  gap: 45px;
}

.sylka p {
  font-size: 16px;
}
